.ctn-atracao {
    width: 23%;
    height: 50vh;

    background-color: #A7A000;

    border: 2px solid #555;

    font-family: "Caesar Dressing", system-ui;
}

/*.cnt-atracao > img {
    width: 50%;
    height: 50%;
}*/

.cn-atracao > p {
    font-size: 2rem;
}